.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(204, 142, 108) 1% , rgb(8, 128, 126) 6% , rgb(113, 209, 166) 17% , rgb(140, 93, 16) 20% , rgb(250, 41, 200) 27% , rgb(61, 51, 231) 37% , rgb(99, 22, 110) 38% , rgb(244, 91, 153) 44% , rgb(36, 46, 222) 47% , rgb(98, 71, 65) 57% , rgb(148, 167, 29) 59% , rgb(176, 140, 181) 61% , rgb(137, 52, 204) 78% , rgb(0, 0, 0) 80% , rgb(242, 162, 216) 99%);
background: -o-linear-gradient(left , rgb(204, 142, 108) 1% , rgb(8, 128, 126) 6% , rgb(113, 209, 166) 17% , rgb(140, 93, 16) 20% , rgb(250, 41, 200) 27% , rgb(61, 51, 231) 37% , rgb(99, 22, 110) 38% , rgb(244, 91, 153) 44% , rgb(36, 46, 222) 47% , rgb(98, 71, 65) 57% , rgb(148, 167, 29) 59% , rgb(176, 140, 181) 61% , rgb(137, 52, 204) 78% , rgb(0, 0, 0) 80% , rgb(242, 162, 216) 99%);
background: -ms-linear-gradient(left , rgb(204, 142, 108) 1% , rgb(8, 128, 126) 6% , rgb(113, 209, 166) 17% , rgb(140, 93, 16) 20% , rgb(250, 41, 200) 27% , rgb(61, 51, 231) 37% , rgb(99, 22, 110) 38% , rgb(244, 91, 153) 44% , rgb(36, 46, 222) 47% , rgb(98, 71, 65) 57% , rgb(148, 167, 29) 59% , rgb(176, 140, 181) 61% , rgb(137, 52, 204) 78% , rgb(0, 0, 0) 80% , rgb(242, 162, 216) 99%);
background: -moz-linear-gradient(left , rgb(204, 142, 108) 1% , rgb(8, 128, 126) 6% , rgb(113, 209, 166) 17% , rgb(140, 93, 16) 20% , rgb(250, 41, 200) 27% , rgb(61, 51, 231) 37% , rgb(99, 22, 110) 38% , rgb(244, 91, 153) 44% , rgb(36, 46, 222) 47% , rgb(98, 71, 65) 57% , rgb(148, 167, 29) 59% , rgb(176, 140, 181) 61% , rgb(137, 52, 204) 78% , rgb(0, 0, 0) 80% , rgb(242, 162, 216) 99%);
background: -webkit-linear-gradient(left , rgb(204, 142, 108) 1% , rgb(8, 128, 126) 6% , rgb(113, 209, 166) 17% , rgb(140, 93, 16) 20% , rgb(250, 41, 200) 27% , rgb(61, 51, 231) 37% , rgb(99, 22, 110) 38% , rgb(244, 91, 153) 44% , rgb(36, 46, 222) 47% , rgb(98, 71, 65) 57% , rgb(148, 167, 29) 59% , rgb(176, 140, 181) 61% , rgb(137, 52, 204) 78% , rgb(0, 0, 0) 80% , rgb(242, 162, 216) 99%);






}